.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
out/test/classes/training/pages/AdminNavigationMenu.class
out/test/classes/training/pages/AdminPage.class
out/test/classes/training/pages/BasePage.class
out/test/classes/training/tests/TestBase.class
*.xml
out/test/classes/training/pages/AdminPage.class
out/test/classes/training/pages/CartPage.class
out/test/classes/training/pages/GoodPage.class
out/test/classes/training/pages/ShopHomePage.class
out/test/classes/training/tests/AddingGoods.class
out/test/classes/training/tests/CartTest.class
out/test/classes/training/tests/TestBase.class
